.main-nav {
  background: #d1d1d1;
  padding: 0.5em;
  margin: 0;
  list-style: none;
}

.main-nav li {
  margin: 1.5em;
  text-align: center;
}

.main-nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  color: white;
}

.main-nav a.current {
  color:#DF2E2D;
}
