<article class="course presencial">
  <div class="card">
      <img class="responsive-img" [src]="curso.thumbnail">
      <div class="card-block">
          <time class="card-date">{{curso.dataCurso}}</time>
          <h4 class="card-title"><a routerLink="/curso/{{curso.id}}">{{curso.nome}}</a></h4>
          <p class="card-text">{{curso.cargaHoraria}}h de curso - {{curso.categoria}}</p>
          <p class="card-actions">
            <button class="btn">inscrever-se</button>
          </p>
          <ng-content></ng-content>
      </div>
  </div>
</article>
