/* You can add global styles to this file, and also import other style files */

/* common */

body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.btn {
  background: rgb(232, 181, 41);
  color: white;
  padding: 0.5em;
  border: 2px solid rgb(232, 181, 41);
  border-radius: 5px;
  display: inline-block;
  font-size: 18px;
}

a.btn {
  text-decoration: none;
}

.btn-like::before {
  content: '';
  background-image: url('./assets/img/heart.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 20px;
  height: 18px;
  vertical-align: middle;
  margin-right: 5px
}

.btn-like:hover {
  background: white;
  color:  rgb(232, 181, 41);
}

/* header */
.navbar {
  text-align: center;
  background: #F9C948;
  padding-bottom: 1em;
}

.navbar .title {
  color: white;
  text-shadow: 1px 1px 1px #666;
  margin: 0.5em 0;
  font-size: 2.5em;
  text-transform: uppercase;
}

.logo {
  margin: 1em 0;
  display: inline-block;
}

/* course */
.course-list {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
}

.course {
  margin-bottom: 1.5em;
  width: 100%;
}

/* footer */
.footerbar {
  background: #F9C948;
  color: white;
  padding: 1em;
  box-sizing: border-box;
  text-align: center
}

.card .responsive-img {
  height: auto;
  max-width: 100%;
}

