<form [formGroup]="alunoForm" class="form-aluno">
  <h4>Cadastro de aluno</h4>
  <div class="form-row">
    <div class="form-group col-6">
      <label for="nome">Nome*</label>
      <input
      class="form-control"
      formControlName="nome"
      placeholder="Digite seu nome">
    </div>

    <div class="form-group col-6">
      <label for="sobrenome">Sobrenome*</label>
      <input type="text"
      class="form-control"
      formControlName="sobrenome"
      placeholder="Digite seu sobrenome">
    </div>
    <div class="alert alert-danger col-12" *ngIf="alunoForm.controls.nome.invalid && alunoForm.controls.nome.touched">
        <span *ngIf="alunoForm.controls.nome.errors.required">Nome do aluno é obrigatório</span>
        <span *ngIf="alunoForm.controls.nome.errors.pattern">Nome não atendem os requisitos</span>
    </div>
  </div>

  <div class="form-group">
    <label for="profissao">Profissão</label>
    <input type="text"
    class="form-control"
    formControlName="profissao"
    placeholder="Digite sua Profissão">
  </div>

  <div class="form-row">
    <div class="form-group col-9">
      <label for="cidade">Cidade</label>
      <input type="text"
      class="form-control"
      formControlName="cidade"
      placeholder="Digite sua Cidade" />
    </div>
    <div class="form-group col-3">
      <label for="estado">Estado</label>
      <input
      class="form-control"
      formControlName="estado"
      placeholder="UF" />
    </div>
  </div>
  <div class="form-row" formGroupName="emails">
    <div class="form-group col-9">
      <label for="email">E-mail</label>
      <input type="email"
      id="email"
      class="form-control"
      formControlName="email"
      placeholder="Digite seu e-mail">
    </div>
    <div class="form-group col-9">
        <label for="confirmaEmail">Confirme seu E-mail</label>
        <input type="email"
        id="confirmaEmail"
        class="form-control"
        formControlName="confirmaEmail"
        placeholder="Confirme seu e-mail">
    </div>
  </div>

  <div class="alert alert-danger" *ngIf="alunoForm.get('emails').errors?.nomatch">
    os emails nao sao equivalentes
  </div>

  <div class="form-group">
    <div class="form-check">
      <input type="checkbox"
          class="form-check-input"
          id="newsletter"
          formControlName="newsletter"
          (change)="setEmailValidation(alunoForm.controls.newsletter.value)">
      <label class="form-check-label" for="newsletter">Quero me cadastrar na newsletter</label>
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-default" (click)="limparNome()">
      Limpar nome
    </button>
    &nbsp;
    <button class="btn btn-default" (click)="limparForm()">
        Limpar Formulário
    </button>
  </div>
</form>
